


h1, p{
  font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #5D737E;
    font-size: 50px;
    border-bottom: 10px solid;

}
h2 {
  font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #5D737E;
    font-size: 25px;
    border-bottom: 10px solid;

}
body{
  background-color: #001011;
}
.navbar{
  background-color: #5D737E;
}
.text{
  color: #F0F7EE;
}
.sidebar{
  background-color: #5D737E;
  
}
